.sub-button {
  background-color: #c70000;
  color: white;
  border-radius: 2px;
  border: none;
  height: 35px;
  width: 105px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  transition: opacity 0.15s;
  vertical-align: top;
}

.sub-button:hover {
  opacity: 0.8;
}

.sub-button:active {
  opacity: 0.5;
}

.join-button {
  background-color: white;
  color: #0856b5;
  border-color: #2976d3;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
  cursor: pointer;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 10px;
  transition: background-color 1s, color 1s;
  vertical-align: top;
}

.join-button:hover {
  background-color: #2976d3;
  color: white;
}

.join-button:active {
  opacity: 0.7;
}

.tweet-button {
  background-color: #0084ff;
  color: white;
  border: none;
  height: 35px;
  width: 74px;
  border-radius: 17.5px;
  font-weight: bold;
  font-size: 15px;
  transition: box-shadow 0.15s;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: top;
}

.tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
